.advanced-menu__btn:hover {
    background-color: rgba(97, 80, 72, 1);
}

.advanced-menu__btn:focus {
    background-color: rgba(97, 80, 72, 1);
}

.advanced-menu__btn:active {
    background-color: rgba(117, 97, 87, 1);
}

/* ___________ */

.interest__btn:hover {
    background-color: rgba(97, 80, 72, 1);
}

.interest__btn:focus {
    background-color: rgba(97, 80, 72, 1);
}

.interest__btn:active {
    background-color: rgba(117, 97, 87, 1);
}

/* ___________ */

.subscribe__btn:hover {
    background-color: rgba(104, 162, 202, 1);
}

.subscribe__btn:focus {
    background-color: rgba(104, 162, 202, 1);
}

.subscribe__btn:active {
    background-color: rgba(130, 179, 211, 1);
}

/* ___________ */

.footer-social__item:hover {
    filter: contrast(150%);
}

.footer-social__item:active {
    opacity: 0.7;
}

.footer-social__item:focus {
    filter: contrast(200%);
}

/* ___________ */

.footer__logo-link:hover {
    opacity: 0.5;
}

.footer__logo-link:focus {
    opacity: 0.5;
}

.footer__logo-link:active {
    opacity: 0.3;
}

/* ___________ */

.footer__phone:hover {
    color: rgba(117, 97, 87, 1);
}

.footer__phone:focus {
    color: rgba(117, 97, 87, 1);
}

.footer__phone:active {
    color: rgba(117, 97, 87, 0.3);
}
/* ___________ */

.catalog-filter__button:hover {
    background-color: rgba(104, 162, 202, 1);
}

.catalog-filter__button:focus {
    background-color: rgba(104, 162, 202, 1);
}

.catalog-filter__button:active {
    background-color: rgba(130, 179, 211, 1);
}

/* ___________ */

.object-card__btn:hover {
    background-color: rgba(97, 80, 72, 1);
}

.object-card__btn:focus {
    background-color: rgba(97, 80, 72, 1);
}

.object-card__btn:active {
    background-color: rgba(117, 97, 87, 1);
}

/* ___________ */

.object-card__btn--blue:hover {
    background-color: rgba(104, 162, 202, 1);
}

.object-card__btn--blue:focus {
    background-color: rgba(104, 162, 202, 1);
}

.object-card__btn--blue:active {
    background-color: rgba(130, 179, 211, 1);
}

/* ___________ */

.menu__item:hover {
    opacity: 0.8;
}

.menu__item:focus {
    opacity: 0.6;
}

.menu__item:active {
    opacity: 0.4;
}

/* ___________ */

